/* EspaceP
 *
 * /sass/components/sympathisant.scss - Sympathisant Components
 *
 * coded by Dylan Schirino
 * started at 08/10/2016
 */

 .choix{
   &--sympathisant{
     background-color: $sympathisantColor;
     background-color: rgba(33,185,144,0.62);
   }
   &--clients{
     background-color: $contactColor;
     background-color: rgba(117,67,133,0.62);
     float: right;
   }
   &--etudiant{
     background-color: $etudiantColor;
     background-color: rgba(67,129,133,0.62);
   }
   &--tds{
     background-color: $tdsColor;
     background-color: rgba(237,112,127,0.62);
   }
   &__image{
     &--sympathisant{
       background: url("../images/sympathisant.png") no-repeat center center;
       background-size: cover;
     }
     &--client{
      background: url("../images/client.png") no-repeat center center;
      background-size: cover;
      float: left;
     }
     &--etudiant{
       background: url("../images/etudiant.png") no-repeat center center;
       background-size: cover;
     }
     &--tds{
       background: url("../images/tds.png") no-repeat center center;
       background-size: cover;
     }
   }
   &__title{
     font: 3.4em/1.3529411765 $playfair;
     text-transform: uppercase;
     letter-spacing: 0.84px;
     padding-top:4.5294117647em;
     text-align: center;
     color: $white;
     &--tds{
       font-size:3em;
     }
   }
   &__subtitle{
     font: 1.6em/1.25 $sourcesanslight;
     color: $white;
     &::after{
       content: "";
       display: block;
       width: 50%;
       margin:3em auto;
       height: 1px;
       background-color: $white;
     }

   }
 }

 .aside{
   &__list{
     border-left: 1px solid $black;
     padding: 0 1.875em;
   }
   &__link{
     font: 1.6em/1.25 $sourcesanslight;
     padding:0.7em 0;
     &:hover{
       text-decoration: underline;
     }
     &--button{
       font: 1.2em/2.5 $playfair;
       text-transform: uppercase;
       background-color: $black;
       color: $white;
       border: 1px solid $white;
       transition: .2s ease-in;
       text-align: center;
       &:hover{
         border: 1px solid black;
         background-color: $white;
         color: $black;
         cursor: pointer;
         text-decoration: none;
       }
     }
   }
 }

 @media screen and (max-width:624px) {

   .choix{
     &__title{
       padding-top: 2em;
     }
    &__subtitle{
      padding: 3em 0;
      margin: auto;
    }
    &__subtitle{
      &::after{
        background:none;
        margin: 0;
      }
    }
   }

 }
