/* EspaceP
 *
 * /sass/components/header.scss - Header components
 *
 * coded by Dylan Schirino
 * started at 03/10/2016
 */
.header{
  background-color: $headerBckg;
  &__logo{
    font:2.4em $sourcesans;
    text-transform: uppercase;
    padding-top:0.6667em;
  }
  &__img{
    vertical-align:middle;
    padding-right: 0.8333em;
  }
}
.menu{
  &__list{
    font:1.8em/2.3 $sourcesanslight;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
  &__element{
    padding-right: 1.666em;
  }
}

.search{
  &__box{
    font: 1.8em/1.4 $sourcesanslight;
    border: none;
    background: none;
    border-bottom: 1px solid #979797;
    outline: none;
  }
  &__submit{
    background: none;
    border:none;
    background:url("../images/search.svg") no-repeat;
  }
}

@media only screen and (max-width: 1027px) {
    .menu{
      &__list{
        background-color: $headerBckg;
      }
      &__element{
        padding-left: 2em;
        border-bottom: 1px solid white;
        transition: .2s ease-in-out;
        &:hover{
          background-color: #333333;
          color: white;
          cursor: pointer;
        }
      }
    }
}
