/* EspaceP
 *
 * /sass/Components/manifeste.scss - manifeste Components
 *
 * coded by Dylan Schirino
 * started at 09/10/2016
 */
 .headManifeste{
   background: url("../images/Manifeste.jpg")no-repeat center fixed;
   color: $white;
   &__subtitle{
     font: 2.4em/1.3333 $playfair;
     text-align: center;
     padding-top: 4.667em;
   }
   &__title{
     font: 3.4em/1.3529411765 $playfair;
     text-transform: uppercase;
     text-align: center;
     padding-top: 1.4705882353em;
   }
   &__link{
     font: 1.6em/3.2 $playfair;
     text-transform: uppercase;
     color: $white;
     background-color: $black;
     transition: .2s ease-in;
     text-align: center;
     &:hover{
       color: $black;
       background-color: $white;
       border: 1px solid $black;
     }
   }
 }

 @media screen and (max-width:400px) {
    .headManifeste{
      &__title{
        font-size:3em;
      }
      &__subtitle{
        font-size:2em;
      }
    }
 }


 .manifeste{
   color: $texteColor;
   &__title{
     font: 2.4em/1.3333 $playfair;
     text-transform: uppercase;
     letter-spacing: 0.6px;
     border-bottom: 1px solid $texteColor;
   }
   &__number{
     font: 2.4em/1.3333 $sourcesanslight;
     padding-bottom:0.5em;
     color: $gold;
     font-weight: bold;
   }
   &__subtitle{
     font:1.6em/1.25 $sourcesans;
     letter-spacing: 0.4px;
     text-transform: uppercase;
   }
   &__text{
     font: 1.6em/1.4 $sourcesanslight;
     padding-bottom: 1.5em;
   }
   &__citation{
     font: 1.8em/1.5 $playfair;
     color: $gold;
     text-align: center;
     &::after,&::before{
       content: "";
       display: block;
       background-color: $actuBckg;
       width: 50%;
       height: 10px;
       margin:2em auto;
     }
   }
   &__section{
     &--change{
       background-color: $sectionChange;
     }
   }
 }


 .commentaire{
   &__title{
     font: 2.4em/0.875 $playfair;
     text-transform: uppercase;
     padding: 2em 0;
   }
   &__content{
     padding-bottom: 2.6em;
     border-bottom: 1px solid $black;
   }
   &__subject{
     font: 1.6em/1.315 $playfair;
     text-transform: uppercase;
     text-align: center;
     padding-bottom: 1.5625em;
   }
   &__info{
     font: 1.8em/1.1667 $sourcesans;
   }
   &__time{
     font-family: $sourcesanslight;
     font-style: italic;
     padding-top: 0.6111em;
   }
   &__text{
     font: 1.6em/1.4 $sourcesanslight;

   }
 }
