/* EspaceP
 *
 * /sass/components/navigation.scss - Navigation components
 *
 * coded by Dylan Schirino
 * started at 04/10/2016
 */

.profil{
  &--tds{
      background: url("../images/tds.png") no-repeat;
  }
  &--etudiants{
      background: url("../images/etudiant.png") no-repeat;
  }
  &--sympathisant{
    background: url("../images/sympathisant.png") no-repeat;
  }
  &--clients{
    background: url("../images/client.png") no-repeat;
  }
  &__title{
    font: 2.4em/3.2 $playfair;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    &::after{
      content: "";
      display: block;
      height: 1px;
      width: 285px;
      background-color: $white;
      margin: auto;
    }
  }
  &__english{
    color: white;
    display: block;
    font: 0.6em/1.333 "source_sans_prolight";
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    padding-left:0.5em;
    &:hover{
      text-decoration: none;
    }

  }
  &__text{
    font: 1.6em/1.4 $sourcesans;
    color: $white;
  }
  &__box{
    background-color: $white;
    padding: 1.5em 0;
  }
  &__element{
    font: 1.6em/1.9 $sourcesanslight;
    padding-left: 1.1428571429em;
      &::before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 0.7em;
      }
      &--tds::before{
        background-color:#F4A6B0;
      }
      &--etudiants::before{
        background-color:#8BB1B3;
      }
      &--sympathisant::before{
        background-color: #75D4BA;
      }
  }
  &__link{
      border-bottom: 1px solid $black;
      transition: .2s ease-in;
    &:hover{
      border: none;
    }
  }
  &__button{
    font: 1.6em/2.1 $playfair;
    text-align: center;
    text-transform: uppercase;
  }
  &__box{
    transition: .2s ease-in-out;
    &--clients:hover{
      background-color:$black;
      color: $white;
    }
  }
}

@media screen and (max-width:854px) {
  .profil{
    &--tds,&--etudiants,&--sympathisant,&--clients{
        background-size: contain;
        background-position: center center;
    }
  }
}


@media screen and (max-width:513px) {
  .profil{
    &--tds,&--etudiants,&--sympathisant,&--clients{
      background: none;
    }
    &--tds{
      background: #ED707F;
      background-color: rgba(237,112,127,0.62);
    }
    &--etudiants{
      background: #438185;
      background-color: rgba(67,129,133,0.62);
    }
    &--sympathisant{
      background: #21B990;
      background-color: rgba(33,185,144,0.62);
    }
    &--clients{
      background: #754385;
      background-color: rgba(117,67,133,0.62);
    }
  }
}
