/* EspaceP
 *
 * /sass/components/news.scss - News components
 *
 * coded by Dylan Schirino
 * started at 04/10/2016
 */
 .news{
   background-color: $actuBckg;
   &__title{
     font: 1.8em/1.3333em $playfair;
     text-transform: uppercase;
     padding-top: 1.556em;
     &::after{
       display: block;
       content: "";
       margin-top: 0.3em;
       width:97px;
       height: 1px;
       background-color: $black;
     }
   }
   &__text{
     font: 1.8em/1.277777em $sourcesanslight;
   }
   &__time{
     font: 1.3em/1.2333em $sourcesanslight;
     text-transform: uppercase;
     letter-spacing: 0.6px;
   }
   &__button{
     font: 1.6em/3em $playfair;
     letter-spacing: 0.4px;
     text-transform: uppercase;
     background-color: $black;
     border: 1px solid $white;
     color: $white;
     text-align: center;
     transition: .2s ease-in;
     &:hover{
       border: 1px solid $black;
       background-color: $white;
       color: $black;
     }
   }
 }

 @media screen and (max-width:400px) {
   .news{
    &__title{
        text-align: center;
        &::after{
          margin:0.3em auto;
        }
    }
  }
}
