/* EspaceP
 *
 * /scss/base/root.scss - ROOT stylesheet
 *
 * coded by Dylan Schirino
 * started at 19/07/2016
 */

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-size: 62.5%;
  background: url("../images/grid.png")no-repeat center;
  opacity: 0.7;
}
