


$headerBckg:#FBF9F9;
$black:black;
$white:white;
$mainimageFilter:#438185;

$actuBckg:#F2F2E8;

$footerBckg:#3C3D41;

$texteColor:#333333;

$gold:#A69064;

$contactColor:#754385;

$rapportColor:#C1A5CA;

$sympathisantColor:#21B990;
