
@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfair/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfair/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfair/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfair/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfair/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfair/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/source-sans/sourcesanspro-light-webfont.eot');
    src: url('../fonts/source-sans/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-sans/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/source-sans/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/source-sans/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/source-sans/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/source-sans/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/source-sans/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-sans/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/source-sans/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/source-sans/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/source-sans/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'glyphs';
  src:  url('../fonts/glyphs/icomoon.eot?lu6wyt');
  src:  url('../fonts/glyphs/icomoon.eot?lu6wyt#iefix') format('embedded-opentype'),
    url('../fonts/glyphs/icomoon.ttf?lu6wyt') format('truetype'),
    url('../fonts/glyphs/icomoon.woff?lu6wyt') format('woff'),
    url('../fonts/glyphs/icomoon.svg?lu6wyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$sourcesans:"source_sans_proregular","Helvetica",Arial,sans-serif;
$sourcesanslight:"source_sans_prolight";
$playfair:"playfair_display";
$glyphs:"glyphs";
