/* EspaceP
 *
 * /sass/components/facebook.scss - Actuality Object
 *
 * coded by Dylan Schirino
 * started at 06/10/2016
 */
 .actuality{
   &__container{
     width: 87.3%;
     margin: auto;
     &::after{
       content: "";
       display: block;
       clear: both;
     }
   }
   &__etiquette{
     display: inline-block;
     vertical-align: top;
     margin-right: 8.4em;
   }
   &__article{
     margin-top: 8.8em;
     &::after{
       content: "";
       display: block;
       clear: both;
     }
   }
 }
 .etiquette{
   &__list{
     margin-top: 2em;
   }
   &__element{
     &--facebook{
       margin-right: 2.4em;
     }
     &--facebook,&--twitter{
       display: inline-block;
     }
   }
   &__link{
     display: block;
   }
 }
 .article{
   &__title{
     float: left;
   }
   &__text{
     float: right;
     width: 45.3125em;
     &--rapport{
       width: 35em;
       margin-left: 5.3em;
     }
   }
 }

@media screen and (max-width:1075px) {

      .actuality{
        &__title{
          text-align: center;
          margin-left: 0;
        }
        &__etiquette{
          display: block;
          width:90%;
          margin:2em auto;
        }
      }
      .etiquette{
        &__title{
            text-align: center;
            padding-bottom: 1em;
        }
        &__element{
          text-align: center;
          &--facebook,&--twitter{
            display: block;
            text-align: center;
            margin:0;
          }
        }
      }

    .article{
      &__text,&__title{
        float: none;
      }
      &__title{
        text-align: center;
      }
      &__text{
        width: 90%;
        margin:2em auto;
      }
    }

}

@media screen and (max-width:692px) {

  .actuality{
    &__etiquette{
      margin-right: 2em;
    }
  }

}
