/* EspaceP
 *
 * /sass/Object/sympathisant.scss - Sympathisant Object
 *
 * coded by Dylan Schirino
 * started at 08/10/2016
 */
.choix{
  height: 85.2vh;
  float: left;
  width: 50%;
  &__image{
    float: right;
    width: 50%;
    height: 85.2vh;
  }
  &__subtitle{
    width: 80%;
    margin: 2.9375em auto;
  }
}
.actuality{
  &__container{
         position: relative;
  }
}
.aside{
    float: right;
    margin-top: 10em;
  &__link{
    display: block;
    &--button{
      width: 16.166em;
      height: 2.5em;
    }
  }
}

@media screen and (max-width:1231px) {
  .aside{
      float:none;
      margin-top: 10em;
  }
}

@media screen and (max-width:975px) {
  .aside{
    width: 90%;
    margin:auto;
    margin-top: 5em;
  }
}

@media screen and (max-width:624px) {

  .choix{
    float: none;
    width: 100%;
    height: auto;
    &__image{
      float: none;
      width: 100%;
      height:25em;
    }
  }

}

@media screen and (max-width:400px) {

  .choix{
    &__image{
      display: none;
    }
  }

}
