/* EspaceP
 *
 * /sass/object/facebook.scss - Facebook components
 *
 * coded by Dylan Schirino
 * started at 03/10/2016
 */
 .facebook{
   &::after{
     content: "";
     clear: both;
     display: block;
   }
   &__title{
     margin-top: 2em;
   }
   &__box{
     width: 72.5em;
     margin:5em auto;

   }
   &__time{
     display: block;
     margin-bottom: 1em;
   }
   &__button{
     width: 7em;
     height: 2.5714285714em;
     margin-right: 1em;
   }
 }

 @media screen and (max-width:867px) {

   .facebook{
     &__box{
       width: 80%;
       margin:5em auto;
     }
   }

 }

 @media screen and (max-width:555px) {

   .facebook{
     &__box{
       width: 80%;
       margin:5em auto;
     }
   }

 }
