/* EspaceP
 *
 * /sass/objects/headSoutien.scss - HeadSoutien objects
 *
 * coded by Dylan Schirino
 * started at 06/10/2016
 */

 .mainSoutien{
   width:72.5%;
   margin:5em auto;
 }
.headActu{
  float: left;
  width: 50%;
  height: 85.3vh;
  &__info{
    float: right;
    width: 50%;
    height: 85.3vh;
  }
}
 .headSoutien{
   margin-bottom: 6.5em;
   &__title{
     margin: 1em auto;
   }
   &__subtitle{
     width: 60%;
     margin: auto;
     margin-bottom: 2.777em;
   }
   &__cards{
     width:14.375em;
     margin: auto;
   }
   &__label{
     margin-left:4.28571428em;
   }
   &__compte{
    text-align: center;
   }
   &__info{
     text-align: center;
   }
 }

@media screen and (max-width:682px) {
    .headActu,.headActu__info{
      float: none;
      width: 100%;
      margin: 0;
      display: block;
      height: auto;
    }
}
 @media screen and (max-width:567px) {
   .mainSoutien{
     width: 90%;
     margin:5em auto;
   }
 }

 @media screen and (max-width:400px) {
   .headSoutien{
     &__subtitle{
       width: 80%;
       margin: auto;
       margin-bottom: 2.777em;
     }
     &__cards{
       width: 80%;
       margin: auto;
     }
   }
 }
