/* EspaceP
 *
 * /sass/Object/manifeste.scss - manifeste Object
 *
 * coded by Dylan Schirino
 * started at 09/10/2016
 */
.headManifeste{
  height: 100vh;
  &__link{
    display: block;
    width: 15em;
    margin:3em auto;
    height:3.5em;
  }
}
.manifeste{
  &__title{
    margin-top:2.0833em;
    display: inline-block;
  }
  &__number{
    display: block;
  }
  &__subtitle{
    float: left;
    width: 19em;
  }
  &__text{
    float: right;
    width:65%;
  }
  &__citation{
    width: 50%;
    margin:3em auto;
  }
  &__section{
    margin-bottom:5em;
    &--change{
      padding-bottom:5em;
    }
    &--changer{
      width: 87.3%;
      margin: auto;
    }
  }
}

.commentaire{
  width: 87.3%;
  margin: auto;
  &__content{
    width: 83%;
    margin: auto;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
  &__subject{
    display: block;
  }
  &__info{
    display: block;
    float: left;
  }
  &__time{
    display: block;
  }
  &__text{
    float: right;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width:952px) {
  .commentaire{
    &__info{
      display: block;
      float: none;
      text-align: center;
    }
    &__time{
      display: inline-block;
      padding-left: 1em;
    }
    &__text{
      float: none;
      width: 90%;
      margin: 1em auto;
    }
  }
}

@media screen and (max-width:559px) {
  .commentaire{
    width: 100%;
    margin: auto;
    &__title{
      text-align: center;
    }
    &__text{
      width: 100%;
      margin: 1em auto;
    }
  }
}

@media screen and (max-width:1006px) {
  .manifeste{
    &__title{
      text-align: center;
      display: block;
      padding:2em 0 1em 0;
    }
    &__subtitle{
      float: none;
      width:100%;
      text-align: center;
      padding-bottom:3em;
    }
    &__text{
      width: 100%;
      margin: auto;
      float: none;
    }
    &__citation{
      width: 100%;
      margin:3em auto;
    }
  }
}
