/* EspaceP
 *
 * /sass/object/navigation.scss - Navigation components
 *
 * coded by Dylan Schirino
 * started at 04/10/2016
 */

.navigation{
  &__container{
    width: 87.4%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}

.profil{
  width: 47.6em;
  min-height:42.9em;
  margin-top: 6em;
  &__box{
    width: 28.5em;
    margin:3em auto;
    &--etudiants{
      margin-top:3.5em;
    }
    &--clients{
      margin-top:3.7em;
    }
  }
  &__text{
    width: 17.4375em;
    margin:1em auto;
  }
  &__button{
    display: block;
  }
}

@media screen and (max-width:1099px) {
  .navigation{
    &__container{
      width: 95%;
      margin: auto;
    }
  }
}
@media screen and (max-width:1010px) {
  .profil{
    width: 40em;
  }
}

@media screen and (max-width:854px) {
  .navigation{
    &__container{
      display: block;
    }
  }
  .profil{
    width: 100%;
    display: block;
    &__box{
      margin: 3em auto;
    }
  }
}
