/* EspaceP
 *
 * /sass/object/rapport.scss - rapport object
 *
 * coded by Dylan Schirino
 * started at 07/10/2016
 */

 .rapport{
   width: 50%;
   float: right;
   height: 85.3vh;
 }

 .sommaire{
   width: 50%;
   height: 85.3vh;
   &__list{
     margin-top: 2em;
   }
   &__link{
     display: inline-block;
   }
 }

 .rapportContent{
   margin-bottom: 6em;
   float: left;
   position: relative;
 }

 .button{
   &__link{
     width: 9.6875em;
     height: 2.8125em;
     display: block;
     position: fixed;
     right: 0;
     bottom:0
   }
 }

@media screen and (max-width:759px) {

  .button{
    display: none;
  }

}
 @media screen and (max-width:604px) {
   .rapport{
     width: 100%;
     float: none;
     display:block;
     &__title{
       padding: 6em 0;
     }
   }
   .sommaire{
     width: 100%;
     height:100%;
     padding-left:0;
     float: none;

   }

 }
