/* EspaceP
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/10/2016
 */

// 1. Settings - Variables globales
//@import "settings/paths";
@import "settings/colors";
@import "settings/fonts";
@import "settings/hidden";

// 2. Tools - Mixins globaux, functions & outils

// 3. Generic - Style de remise à zéro (reset, normalize…)
@import "generic/meyer-reset";

// 4. Base - Éléments bruts
@import "base/root";

// 5. Objects - Éléments de mise en forme non-cosmétique
@import "object/header";
@import "object/mainimage";

// 6. Components - Design des composants, morceaux d'UI
@import "components/header";
@import "components/mainimage";
