/* EspaceP
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 03/10/2016
 */

// 1. Settings - Variables globales
//@import "settings/paths";
@import "settings/colors";
@import "settings/fonts";
@import "settings/hidden";

// 2. Tools - Mixins globaux, functions & outils

// 3. Generic - Style de remise à zéro (reset, normalize…)
@import "generic/meyer-reset";

// 4. Base - Éléments bruts
@import "base/root";

// 5. Objects - Éléments de mise en forme non-cosmétique
@import "object/header";
@import "object/mainimage";
@import "object/news";
@import "object/navigation";
@import "object/footer";
@import "object/headActu";
@import "object/facebook";
@import "object/actuality";
@import "object/headSoutien";
@import "object/mainSoutien";
@import "object/partenaire";
@import "object/mainContact";
@import "object/rapport";
@import "object/country";
@import "object/choix";

// 6. Components - Design des composants, morceaux d'UI
@import "components/header";
@import "components/mainimage";
@import "components/news";
@import "components/navigation";
@import "components/footer";
@import "components/headActu";
@import "components/facebook";
@import "components/actuality";
@import "components/headSoutien";
@import "components/mainSoutien";
@import "components/partenaire";
@import "components/mainContact";
@import "components/rapport";
@import "components/country";
@import "components/choix";
