
section.mainimage
  h2.mainimage__title="Espace P..."
  p.mainimage__subtitle="Pour une approche plus juste des métiers du sexe."
  a.mainimage__link(href="#menu",title="Vers le menu principal de choix des sections")
    span="Vers le menu principal"
