

section.news
  div.news__content
    h2.news__title="Actualité"
    time.news__time(pubtime)="Le 14 Janvier 2016"
    p.news__text="Le 17 Décembre est la journée internationale de lutte contreles violences faites aux travailleurs du sexe. Le ministère vient de voter la loi qui sera d’application le 20 Janvier 2017."
    a.news__button(href="actu.html")="Vers l'article"
